<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzt.messagev2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppFrame2">
        <activity android:name="com.zzt.test.ActivityTestV0" />
        <activity android:name="com.zzt.test.ActivityTestV1" />
        <activity android:name="com.zzt.binderbook.ActivityBook" />
        <activity android:name="com.zzt.binderSmp1.ActivityStudents" />
        <activity android:name=".ActivityBinder" />
        <activity android:name=".ActivityAidl" />
        <activity android:name=".ActivityMessenger" />
        <activity android:name=".ActivityMessageV2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>